@charset "UTF-8";
/* BASE - Base styles, variables, mixins, etc */
/** Used Fonts **/
/** Bradobrei **/
@font-face {
  font-family: 'Bradobrei';
  src: url("../fonts/bradobrei/bradobrei.eot");
  src: local("☺"), url("../fonts/bradobrei/bradobrei.woff") format("woff"), url("../fonts/bradobrei/bradobrei.ttf") format("truetype"), url("../fonts/bradobrei/bradobrei.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/** Klementina **/
@font-face {
  font-family: 'Klementina';
  src: url("../fonts/klementina/Klementina.eot");
  src: local("☺"), url("../fonts/klementina/Klementina.woff") format("woff"), url("../fonts/klementina/Klementina.ttf") format("truetype"), url("../fonts/klementina/Klementina.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/** Pt-serif **/
@font-face {
  font-family: 'Pt-serif';
  src: url("../fonts/pt-serif/pt-serif.eot");
  src: local("☺"), url("../fonts/pt-serif/pt-serif.woff") format("woff"), url("../fonts/pt-serif/pt-serif.ttf") format("truetype"), url("../fonts/pt-serif/pt-serif.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/** Pt-serif-bold-italic **/
@font-face {
  font-family: 'Pt-serif-bold-italic';
  src: url("../fonts/pt-serif-bold-italic/pt-serif-bold-italic.eot");
  src: local("☺"), url("../fonts/pt-serif-bold-italic/pt-serif-bold-italic.woff") format("woff"), url("../fonts/pt-serif-bold-italic/pt-serif-bold-italic.ttf") format("truetype"), url("../fonts/pt-serif-bold-italic/pt-serif-bold-italic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/** Pt-serif-italic **/
@font-face {
  font-family: 'Pt-serif-italic';
  src: url("../fonts/pt-serif-italic/pt-serif-italic.eot");
  src: local("☺"), url("../fonts/pt-serif-italic/pt-serif-italic.woff") format("woff"), url("../fonts/pt-serif-italic/pt-serif-italic.ttf") format("truetype"), url("../fonts/pt-serif-italic/pt-serif-italic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/** OpenSansRegular **/
@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/** OpenSansLight **/
@font-face {
  font-family: "OpenSansLight";
  src: url("../fonts/OpenSansLight/OpenSansLight.eot");
  src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"), url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/** OpenSansItalic **/
@font-face {
  font-family: "OpenSansItalic";
  src: url("../fonts/OpenSansItalic/OpenSansItalic.eot");
  src: url("../fonts/OpenSansItalic/OpenSansItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansItalic/OpenSansItalic.woff") format("woff"), url("../fonts/OpenSansItalic/OpenSansItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/** OpenSansBold **/
@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/OpenSansBold/OpenSansBold.eot");
  src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"), url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/** OpenSansExtraBold **/
@font-face {
  font-family: "OpenSansExtraBold";
  src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot");
  src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansExtraBold/OpenSansExtraBold.woff") format("woff"), url("../fonts/OpenSansExtraBold/OpenSansExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/** OpenSansExtraBoldItalic **/
@font-face {
  font-family: "OpenSansExtraBoldItalic";
  src: url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot");
  src: url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.woff") format("woff"), url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/** OpenSansBoldItalic **/
@font-face {
  font-family: "OpenSansBoldItalic";
  src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot");
  src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.woff") format("woff"), url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/** OpenSansRegularItalic **/
@font-face {
  font-family: "OpenSansRegularItalic";
  src: url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot");
  src: url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.woff") format("woff"), url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/** OpenSansSemiBold **/
@font-face {
  font-family: "OpenSansSemiBold";
  src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
  src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"), url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/** OpenSansSemiBoldItalic **/
@font-face {
  font-family: "OpenSansSemiBoldItalic";
  src: url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot");
  src: url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.woff") format("woff"), url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/** DR2 font **/
@font-face {
  font-family: 'DR2-font';
  src: url("../fonts/DR2-font/DR2-font.eot");
  src: local("☺"), url("../fonts/DR2-font/DR2-font.woff") format("woff"), url("../fonts/DR2-font/DR2-font.ttf") format("truetype"), url("../fonts/DR2-font/DR2-font.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/** Mixins **/
/** Variables Style Used **/
/** Fonts **/
/** Color **/
/** Background **/
/** Border Color **/
/** Normolize Style Used **/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
blockquote,
big,
body,
center,
canvas,
caption,
cite,
code,
command,
datalist,
dd,
del,
details,
dfn,
dl,
div,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
keygen,
label,
legend,
li,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
s,
samp,
section,
small,
span,
source,
strike,
strong,
sub,
sup,
table,
tbody,
tfoot,
thead,
th,
tr,
tdvideo,
tt,
u,
ul,
var {
  background: transparent;
  border: 0 none;
  font-size: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: top;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

table,
table td {
  padding: 0;
  border: none;
  border-collapse: collapse;
}

img {
  vertical-align: top;
}

embed {
  vertical-align: top;
}

input[type=text],
input[type=email],
textarea {
  outline: none;
  border-radius: 0;
}

textarea {
  margin: 0;
}

button {
  border: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

s {
  text-decoration: none;
}

.clearfix::after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  clear: both;
}

.clearfix > .left {
  float: left;
}

.clearfix > .right {
  float: right;
}

.bx-wrapper {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  background: transparent;
}

.bx-wrapper .bx-pager-item {
  width: 10px;
  height: 10px;
  margin-right: 30px;
  text-align: center;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 2px 0 0;
  background: #ffffff;
  -webkit-transition: all 0.3s linear 0.1s;
  transition: all 0.3s linear 0.1s;
}

.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:hover {
  margin-top: 0;
  width: 10px;
  height: 10px;
  background: #c4a56e;
  -webkit-transition: all 0.3s linear 0.1s;
  transition: all 0.3s linear 0.1s;
}

.bx-wrapper .bx-pager {
  bottom: -84px;
}

.bx-wrapper .bx-controls-direction a {
  top: 119%;
  width: 24px;
  height: 18px;
}

.bx-wrapper .bx-prev {
  left: 0;
  background: url(../image/sl-ctrl.png) no-repeat;
  background-position: 0 0;
}

.bx-wrapper .bx-prev:hover {
  background-position: 0 -25px;
}

.bx-wrapper .bx-next {
  right: 0;
  left: 55px;
  background: url(../image/sl-ctrl.png) no-repeat;
  background-position: -43px 0;
}

.bx-wrapper .bx-next:hover {
  background-position: -43px -25px;
}

.fancybox-is-open .fancybox-bg {
  opacity: .4;
}

/** Base Style Used **/
body {
  position: relative;
  font: 14px/19px "OpenSansRegular";
  color: #808080;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

s {
  position: relative;
}

s::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  display: block;
  width: 100%;
  height: 1px;
  background: #808080;
}

h2,
.h2 {
  display: inline-block;
  text-align: center;
}

.title {
  text-align: center;
  position: relative;
  z-index: 2;
}

.subheading {
  font: 18px/23px "OpenSansBold";
}

.container-wrap {
  width: 100%;
  max-width: 1195px;
  margin: 0 auto;
  padding: 22px 13px;
  border: 2px solid #f0eadf;
  max-height: 283px;
}

.modal-form {
  display: none;
  padding: 0;
  overflow: initial;
}

.modal-form#modal-form-error .h3,
.modal-form#modal-form-error h3 {
  color: #aa324b;
}

.modal-form .form-wrap {
  display: table;
  width: 100%;
  height: 100%;
}

.modal-form .text-block {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.modal-form .text-block * {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.modal-form .text-block p.text {
  margin-bottom: 0;
}

.loading {
  background: url("../image/loading.gif") no-repeat center center;
  background-size: 100px 100px;
  -webkit-box-shadow: inset 0 0 8px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 8px 1px rgba(0, 0, 0, 0.2);
}

.video-wrap {
  height: 100%;
  width: 100%;
}

/* MODULES - Individual site components */
/** Typography Style **/
h1,
.h1 {
  font: 160px/165px 'Klementina';
  color: #c4a56e;
}

p.h1 {
  font: 160px/165px 'Klementina' !important;
  color: #c4a56e;
}

h2,
.h2 {
  font: 60px/65px "Pt-serif-italic";
  color: #c4a56e;
}

h3,
.h3 {
  font: 30px/35px "Pt-serif-italic";
  color: #c4a56e;
}

/** Components Style Used **/
/** Side Text Style **/
.side-text {
  position: absolute;
  font: 10px/15px "OpenSansRegular";
  color: #c4a56e;
  letter-spacing: 4px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  z-index: 1;
}

.side-text.left {
  left: -160px;
  bottom: 115px;
}

.side-text.left p {
  position: relative;
  padding-left: 195px;
  padding-bottom: 20px;
  font: 10px/15px "OpenSansRegular";
}

.side-text.left p::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 458px;
  height: 1px;
  background: #dbcbad;
}

.side-text.right {
  right: -245px;
  bottom: 340px;
}

.side-text.right p {
  position: relative;
  padding-left: 195px;
  padding-bottom: 20px;
}

.side-text.right p::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 458px;
  height: 1px;
  background: #dbcbad;
}

/** Text Background Style **/
.text-bg {
  position: absolute;
  top: 30px;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.text-bg p {
  display: inline-block;
  font: 205px/205px "OpenSansExtraBoldItalic";
  color: #fbfbfb;
}

/** Sign Play Style **/
.sign-play {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 66px;
  height: 66px;
  margin: -33px 0 0 -33px;
  background: url("../image/sign-play-video.png") no-repeat;
}

/** Icon Style **/
.icon {
  display: inline-block;
  margin-left: 17px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #c4a56e;
  background: #c4a56e;
  color: #ffffff;
  text-align: center;
  margin-top: -5px;
  -webkit-transition: all 0.3s linear 0.1s;
  transition: all 0.3s linear 0.1s;
}

.icon i {
  vertical-align: middle;
  font-size: 16px;
  line-height: 23px;
}

.icon:hover {
  background: #FFFFFF;
  color: #c4a56e;
  -webkit-transition: all 0.3s linear 0.1s;
  transition: all 0.3s linear 0.1s;
}

/** Form Style **/
.form {
  padding: 18px;
  -webkit-box-shadow: 15px 15px 38px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 15px 15px 38px 0 rgba(0, 0, 0, 0.1);
}

.form form {
  display: block;
  width: 100%;
  border: 1px solid #c4a56e;
  padding: 48px;
}

.form form input {
  border: 0;
  outline: none;
  text-indent: 3px;
}

.form form input:focus {
  outline: none;
}

.form form input[type=text], .form form input[type=email] {
  font: 14px/19px 'OpenSansItalic';
  color: #c4a56e;
  width: 100%;
  padding: 10px;
}

.form form input.btn.btn-red {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  text-align: center;
  margin: 43px 0 0 0;
  cursor: pointer;
}

.form .field-wrap {
  width: 100%;
  border-bottom: 1px solid #c4a56e;
  margin-bottom: 30px;
}

.form .field-wrap:nth-last-child(2) {
  margin-bottom: 0;
}

.owerlay-bg {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.header-center.active {
  z-index: 3;
}

.header-center.active address {
  position: absolute;
  top: 50px;
  right: -20px;
  display: block;
  width: 200px;
  padding: 20px;
  background: #f9f9f9;
  text-align: center;
}

.header-center.active address::after {
  display: none;
}

.header-right.active {
  z-index: 3;
}

.header-right.active .link-phone {
  position: absolute;
  top: 50px;
  right: -20px;
  display: block;
  width: 200px;
  padding: 20px;
  background: #f9f9f9;
  text-align: center;
  margin: 0;
}

.header-right.active .link-phone .time {
  text-align: center;
}

/** Any Blocks Style **/
.modal-form form {
  min-width: 420px;
}

.modal-form form .btn.btn-red {
  margin-top: 53px !important;
  margin-bottom: 27px !important;
}

.modal-form .fancybox-close-small {
  top: -40px;
  right: -40px;
}

.modal-form .fancybox-close-small::after {
  content: "";
  width: 33px;
  height: 31px;
  background: url("../image/close-btn.png") no-repeat transparent;
}

.modal-form .text {
  margin-bottom: 30px;
}

/** Buttons Style **/
.btn {
  display: inline-block;
}

.btn.btn-call {
  font: 14px/19px "OpenSansRegular";
  color: #808080;
  padding: 5px 29px;
  border: 2px solid #dbcaac;
  border-radius: 5px;
  -webkit-transition: all 0.3s linear 0.1s;
  transition: all 0.3s linear 0.1s;
}

.btn.btn-call:hover {
  background: #dbcaac;
  color: #ffffff;
  -webkit-transition: all 0.3s linear 0.1s;
  transition: all 0.3s linear 0.1s;
}

.btn.btn-red {
  text-transform: uppercase;
  color: #ffffff;
  background: #aa324b;
  padding: 30px 55px;
  margin-bottom: 35px;
  font: 16px/16px "OpenSansBold";
  letter-spacing: 1px;
  -webkit-box-shadow: 0 13px 29px 0 rgba(170, 50, 75, 0.23);
  box-shadow: 0 13px 29px 0 rgba(170, 50, 75, 0.23);
  border-radius: 10px;
  -webkit-transition: all 0.3s linear 0.1s;
  transition: all 0.3s linear 0.1s;
}

.btn.btn-red:hover {
  background: #c73553;
  -webkit-box-shadow: 0 13px 29px 0 rgba(170, 50, 75, 0.5);
  box-shadow: 0 13px 29px 0 rgba(170, 50, 75, 0.5);
  -webkit-transition: all 0.3s linear 0.1s;
  transition: all 0.3s linear 0.1s;
}

/** Sections Style **/
/** First Section **/
.first-section {
  background: #fafafa;
  /* Old browsers */
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#f0f0f0));
  background: linear-gradient(#fafafa 0%, #f0f0f0 100%);
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$top, endColorstr=$bottom, GradientType=0);
  /* IE6-9 */
  padding-top: 90px;
  position: relative;
}

.first-section-wrap {
  background: url("../image/first-section-bg.png") no-repeat;
  margin-top: 20px;
  padding-bottom: 305px;
  background-position: 81.7% 26%;
}

.first-section-wrap .container {
  position: relative;
}

.first-section-wrap p {
  font: 18px/23px 'OpenSansRegular';
  margin-bottom: 45px;
}

.first-section-wrap p strong {
  font-family: 'OpenSansBold';
  color: #993048;
}

.first-section-wrap h1,
.first-section-wrap .h1 {
  margin-left: -15px;
  padding-top: 90px;
}

.first-section-wrap .subtitle,
.first-section-wrap h2.subtitle {
  font: 30px/35px 'OpenSansRegular';
  letter-spacing: 7px;
  margin-bottom: 45px;
  text-align: left;
  color: #808080;
}

.first-section-wrap div.img {
  position: absolute;
  top: 0;
  right: 0;
}

/** Second Section Style **/
.second-section {
  position: relative;
  padding: 100px 0;
  background: url("../image/circul-bg.png") no-repeat;
  background-position: -200px -140px;
}

.second-section h2 {
  max-width: 750px;
  margin-bottom: 70px;
}

.second-section ul {
  margin-bottom: 35px;
}

.second-section ul li {
  display: inline-block;
  max-width: 195px;
  margin-right: 25px;
}

.second-section ul li:last-child {
  margin-right: 0;
}

.second-section ul li .number {
  font: 36px/36px "Pt-serif-bold-italic";
  color: #aa324b;
  position: relative;
  margin-bottom: 10px;
}

.second-section ul li .number::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 1px;
  background: #dbcbad;
}

.second-section ul li .number span {
  background: #ffffff;
  padding-right: 30px;
}

.second-section ul li .subheading {
  margin-bottom: 15px;
}

.second-section ul li .text {
  padding-right: 5px;
}

/** Third Section Style **/
.third-section {
  position: relative;
  padding: 100px 0 260px;
  background: #fbfbfb;
}

.third-section .side-text.right {
  right: -175px;
  bottom: 70px;
}

.third-section .text-bg p {
  color: #ffffff;
}

.third-section .circle {
  position: absolute;
  right: 0;
  top: -360px;
  z-index: 2;
  width: 251px;
  height: 676px;
  background: url("../image/circul-big-bg.png") no-repeat;
  background-position: top left;
}

.third-section h2,
.third-section .h2 {
  max-width: 750px;
  margin-bottom: 40px;
}

.third-section .container {
  text-align: center;
}

.third-section .item {
  display: inline-block;
  max-width: 360px;
  text-align: left;
  margin-right: 23px;
  margin-bottom: 30px;
}

.third-section .item:last-child {
  margin-right: 0;
}

.third-section .item .img {
  overflow: hidden;
  margin-bottom: 25px;
}

.third-section .item .img img {
  max-width: 100%;
  -webkit-transition: all 0.3s linear 0.1s;
  transition: all 0.3s linear 0.1s;
}

.third-section .item .img:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: all 0.3s linear 0.1s;
  transition: all 0.3s linear 0.1s;
}

.third-section .item .subheading {
  margin-bottom: 10px;
}

/** Fourth Section Style **/
.fourth-section {
  position: relative;
  padding: 100px 0;
}

.fourth-section .text-bg p {
  color: #fbfbfb;
}

.fourth-section h2,
.fourth-section .h2 {
  max-width: 945px;
  margin-bottom: 130px;
}

.fourth-section .bx-wrapper .bx-controls-direction a {
  top: 108%;
}

.fourth-section .left,
.fourth-section .right {
  display: inline-block;
}

.fourth-section .left {
  max-width: 750px;
}

.fourth-section .right {
  padding-left: 113px;
  position: relative;
}

.fourth-section .right::before {
  content: "";
  position: absolute;
  top: 60px;
  left: -62.5px;
  display: block;
  width: 125px;
  height: 1px;
  background: rgba(196, 165, 110, 0.5);
}

.fourth-section .right ul {
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 45px;
  column-gap: 45px;
  margin-bottom: 40px;
}

.fourth-section .right ul a {
  font: 16px/35px 'OpenSansRegular';
  color: #808080;
  position: relative;
}

.fourth-section .right ul a:hover, .fourth-section .right ul a.active {
  color: #c4a56e;
}

.fourth-section .right ul a:hover::after, .fourth-section .right ul a.active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background: #c4a56e;
}

.fourth-section .btn.btn-red {
  padding: 25px 82px;
}

/** Fifth Section Style **/
.fifth-section {
  position: relative;
  background-color: #e4dac8;
  padding: 100px 0 110px;
}

.fifth-section::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 457px;
  height: 545px;
  background-image: url("../image/circul-big-bg.png");
  background-repeat: no-repeat;
  opacity: 0.1;
}

.fifth-section .text-bg p {
  color: #e7dfd0;
}

.fifth-section h2,
.fifth-section .h2 {
  margin-bottom: 85px;
  max-width: 945px;
}

.fifth-section .bx-wrapper .bx-prev {
  background-position: 0 -50px;
}

.fifth-section .bx-wrapper .bx-prev:hover {
  background-position: 0 -25px;
}

.fifth-section .bx-wrapper .bx-next {
  background-position: -43px -50px;
}

.fifth-section .bx-wrapper .bx-next:hover {
  background-position: -43px -25px;
}

.fifth-section .rev-slider li .video {
  display: inline-block;
  max-width: 653px;
}

.fifth-section .rev-slider li a {
  position: relative;
  display: inline-block;
}

.fifth-section .rev-slider li a img {
  max-width: 100%;
}

.fifth-section .rev-slider li .peaple {
  display: inline-block;
  padding-left: 37px;
  text-align: center;
  position: relative;
}

.fifth-section .rev-slider li .peaple::before {
  content: "";
  position: absolute;
  left: -85px;
  top: 85px;
  display: block;
  width: 228px;
  height: 1px;
  background: rgba(196, 165, 110, 0.5);
}

.fifth-section .rev-slider li .peaple .borders {
  position: absolute;
  top: 20px;
  right: -20px;
  display: table;
  height: 381px;
  width: 428px;
  border: 2px solid #c4a56e;
}

.fifth-section .rev-slider li .peaple .borders .top,
.fifth-section .rev-slider li .peaple .borders .bottom {
  display: table-row;
}

.fifth-section .rev-slider li .peaple .borders .top {
  width: 100%;
  height: 253px;
}

.fifth-section .rev-slider li .peaple .borders .bottom .text-wrap {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  border-top: 2px solid #c4a56e;
}

.fifth-section .rev-slider li .peaple .borders .bottom .text-wrap p {
  display: inline-block;
  width: 100%;
  max-width: 263px;
}

.fifth-section .rev-slider li .peaple .borders .bottom .text-wrap p.subheading {
  margin-bottom: 5px;
  text-align: left;
}

.fifth-section .rev-slider li .peaple .borders .bottom .text-wrap p.text {
  font-size: 16px;
  text-align: left;
}

.fifth-section .rev-slider li .peaple img {
  max-width: 426px;
  width: 100%;
}

/** Sixth Section Style **/
.sixth-section {
  position: relative;
  padding: 100px 0 50px;
}

.sixth-section h2,
.sixth-section .h2 {
  max-width: 945px;
  margin-bottom: 85px;
}

.sixth-section ul {
  text-align: center;
}

.sixth-section ul li {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  margin-right: 30px;
}

.sixth-section ul li:last-child {
  margin-right: 0;
}

.sixth-section ul li .img {
  height: 39px;
  margin-bottom: 10px;
}

.sixth-section ul li .img img {
  max-height: 100%;
  max-width: 100%;
}

.sixth-section ul li .subheading {
  margin-bottom: 10px;
}

/** Seventh Section Style **/
.seventh-section {
  position: relative;
  padding: 100px 0;
}

.seventh-section::before {
  content: "";
  position: absolute;
  top: -50%;
  right: 0;
  display: block;
  width: 255px;
  height: 652px;
  background: url("../image/circul-big-bg.png") no-repeat;
}

.seventh-section h2,
.seventh-section .h2 {
  max-width: 945px;
  margin-bottom: 100px;
}

.seventh-section .bx-wrapper .bx-controls-direction a {
  top: 122%;
}

.seventh-section .container-wrap {
  margin-bottom: 165px;
}

.seventh-section .video,
.seventh-section .img {
  display: inline-block;
  max-width: 555px;
}

.seventh-section .video {
  position: relative;
}

.seventh-section .img {
  margin-left: 21px;
}

.seventh-section .img a {
  display: inline-block;
  max-width: 263px;
  margin-bottom: 30px;
}

.seventh-section .img a:nth-child(even) {
  margin-left: 25px;
}

.seventh-section .img a:nth-last-child(2), .seventh-section .img a:last-child {
  margin-bottom: 0;
}

.seventh-section .img img {
  display: inline-block;
  max-width: 263px;
  width: 100%;
}

.seventh-section .bx-wrapper .bx-pager.bx-default-pager a {
  background: #cccccc;
}

.seventh-section .bx-wrapper .bx-pager.bx-default-pager a.active, .seventh-section .bx-wrapper .bx-pager.bx-default-pager a:hover {
  background: #c4a56e;
}

/** Eighth Section Style **/
.eighth-section {
  position: relative;
  background: #fafafa;
  /* Old browsers */
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#f0f0f0));
  background: linear-gradient(#fafafa 0%, #f0f0f0 100%);
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$top, endColorstr=$bottom, GradientType=0);
  /* IE6-9 */
  padding: 65px 0 90px;
}

.eighth-section .text-bg {
  top: -15px;
}

.eighth-section .side-text.right {
  right: -175px;
  bottom: 90px;
}

.eighth-section h2,
.eighth-section .h2 {
  max-width: 555px;
  margin-bottom: 60px;
}

.eighth-section .bx-wrapper .bx-controls-direction a {
  top: auto;
  bottom: -80px;
}

.eighth-section .subheading {
  font-size: 16px;
}

.eighth-section .img,
.eighth-section .text-block {
  display: inline-block;
}

.eighth-section .img {
  width: 50%;
  max-width: 385px;
  position: relative;
  padding-right: 75px;
  padding-left: 15px;
}

.eighth-section .img::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 56px;
  display: block;
  width: 188px;
  height: 1px;
  background: rgba(196, 165, 110, 0.5);
}

.eighth-section .img img {
  width: 100%;
}

.eighth-section .img .ramka {
  position: absolute;
  left: 0;
  top: 18px;
  display: block;
  width: 296px;
  height: 179px;
  border: 2px solid #c4a56e;
}

.eighth-section .text-block {
  max-width: 750px;
  margin-top: -5px;
}

.eighth-section .text-block .text {
  line-height: 26px;
  margin-bottom: 25px;
}

/** Ninth Section Style **/
.ninth-section {
  position: relative;
  padding: 80px 0 65px;
}

.ninth-section h2,
.ninth-section .h2 {
  text-align: left;
}

.ninth-section .text-bg {
  z-index: -1;
}

.ninth-section .container {
  padding: 0;
}

.ninth-section .left,
.ninth-section .right {
  display: inline-block;
}

.ninth-section .left img {
  max-width: 585px;
}

.ninth-section .right {
  max-width: 500px;
  margin-left: 98px;
}

.ninth-section .right .wrap-title {
  position: relative;
  max-width: 372px;
  margin-bottom: 60px;
}

.ninth-section .right .wrap-title .text {
  position: absolute;
  bottom: 0;
  right: 20px;
  display: block;
  width: 180px;
  font: 18px/23px 'Pt-serif-italic';
  color: #c4a56e;
}

/* LAYOUTS - Page layout styles */
/** Header Style **/
header {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 90px;
  background: transparent;
  z-index: 10;
}

header .container {
  padding: 0 15px 0;
}

.header-wrap {
  display: table;
  width: 100%;
  height: 90px;
}

.header-left,
.header-center,
.header-right {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

.header-left {
  width: 30%;
}

.header-left a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.header-left a img {
  max-width: 200px;
  width: 100%;
  height: 100%;
}

.header-center {
  text-align: center;
  padding-top: 23px;
}

.header-center address {
  position: relative;
  padding-bottom: 7px;
  display: inline-block;
}

.header-center address::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 113px;
  height: 1px;
  background: #dbcbad;
}

.header-right {
  text-align: right;
  padding-top: 15px;
}

.header-right a.link-phone {
  display: inline-block;
  margin-right: 40px;
  font: 18px/23px "OpenSansBold";
  color: #808080;
  margin-top: 22px;
}

.header-right a.link-phone span {
  display: block;
  line-height: 20px;
  text-align: center;
}

.header-right a.link-phone span.time {
  font: 14px/19px "OpenSansRegular";
  text-align: left;
}

.header-right .btn.btn-call {
  line-height: 25px;
  margin-top: 11px;
}

/** Footer Style **/
footer {
  font: 14px/19px "OpenSansRegular";
  color: #c4a56e;
  text-align: center;
}

footer .container {
  border-top: 2px solid #fafafa;
  padding-top: 40px;
  padding-bottom: 40px;
}

footer a {
  color: #c4a56e;
}

footer .left,
footer .right,
footer .dev {
  display: inline-block;
  width: 33%;
}

footer .left {
  text-align: right;
  padding-right: 75px;
}

footer .right {
  text-align: left;
  padding-left: 75px;
}

footer .right span {
  margin-right: 13px;
}

/* Responsive Layouts Page Style */
/** Use Responsive Style **/
@media only screen and (max-width: 1440px) {
  .side-text {
    display: none;
  }
  .seventh-section::before {
    width: 150px;
    height: 348px;
    background-size: cover;
    top: -15%;
  }
  .second-section {
    background-position: -350px -140px;
  }
}

@media only screen and (max-width: 1366px) {
  .third-section .circle {
    width: 150px;
    height: 404px;
  }
  .side-text.left {
    left: -270px;
  }
  .side-text.right {
    right: -290px;
  }
}

@media only screen and (max-width: 1280px) {
  .first-section .side-text.left {
    left: -285px;
  }
  .side-text.right {
    right: -305px;
  }
}

@media only screen and (max-width: 1279px) {
  .side-text {
    display: none;
  }
}

@media only screen and (max-width: 1230px) {
  .first-section-wrap h1,
  .first-section-wrap .h1 {
    margin-left: 0;
  }
}

@media only screen and (max-width: 1200px) {
  .text-bg p {
    font-size: 19vw;
    line-height: 19vw;
  }
  .container-wrap {
    max-width: 95%;
    max-height: 215px;
  }
  .second-section {
    background: none;
  }
  .second-section ul li {
    width: 17%;
  }
  .third-section .item {
    max-width: 30%;
  }
  .third-section .circle {
    display: none;
  }
  .fourth-section {
    text-align: center;
  }
  .fourth-section .left {
    max-width: 580px;
  }
  .fifth-section .rev-slider li {
    text-align: center;
  }
  .fifth-section .rev-slider li .video {
    width: 50%;
  }
  .fifth-section .rev-slider li .peaple img {
    max-width: 320px;
  }
  .fifth-section .rev-slider li .peaple .borders {
    height: 287px;
    width: 320px;
  }
  .fifth-section .rev-slider li .peaple .borders .top {
    height: 185px;
  }
  .sixth-section ul li {
    max-width: 170px;
  }
  .seventh-section::before {
    display: none;
  }
  .seventh-section .slider-process ul {
    text-align: center;
  }
  .seventh-section .video,
  .seventh-section .img {
    max-width: 48%;
    text-align: center;
  }
  .seventh-section .video a,
  .seventh-section .img a {
    width: 47%;
    margin-bottom: 5.7%;
  }
  .seventh-section .video a:nth-child(2n),
  .seventh-section .img a:nth-child(2n) {
    margin-left: 5%;
  }
  .seventh-section .video a:last-child,
  .seventh-section .img a:last-child {
    margin-bottom: 0;
  }
  .eighth-section li {
    text-align: center;
  }
  .eighth-section .text-block {
    max-width: 60%;
  }
  .ninth-section .left,
  .ninth-section .right {
    width: 49%;
  }
  .ninth-section .left img {
    width: 100%;
  }
  .ninth-section .right {
    margin-left: 1%;
  }
}

@media only screen and (max-width: 1024px) {
  h2,
  .h2 {
    padding: 0 20px;
  }
  h2.subtitle {
    padding: 0;
  }
  .bx-controls-direction {
    display: none;
  }
  .container-wrap {
    max-height: 100%;
    margin-left: 5%;
    border-right: 0;
    margin-bottom: 0 !important;
  }
  .container {
    padding: 0px 20px !important;
  }
  .first-section-wrap h1,
  .first-section-wrap .h1 {
    width: 70%;
    padding-top: 0px;
    line-height: 127px;
    margin-bottom: 15px;
    text-indent: 8px;
  }
  .first-section-wrap p {
    max-width: 60%;
  }
  .second-section ul {
    text-align: center;
    padding: 0 16% 0 23%;
  }
  .second-section ul li {
    display: inline-block;
    width: 100%;
    max-width: 49%;
    margin: 0 auto 50px;
    text-align: left;
  }
  .second-section ul li:last-child {
    margin: 0 auto 0;
  }
  .second-section ul li .number {
    display: inline-block;
  }
  .second-section ul li .number::after {
    display: none;
  }
  .second-section ul li .number span {
    padding-right: 20px;
  }
  .second-section ul li .subheading {
    display: inline-block;
  }
  .second-section ul li .text {
    text-align: left;
    padding-right: 0;
    margin-left: 65px;
    margin-right: 50px;
  }
  .third-section {
    padding: 100px 0 120px;
  }
  .fourth-section .right {
    padding-left: 0;
    max-width: 580px;
  }
  .fourth-section .right::before {
    display: none;
  }
  .fourth-section .right ul {
    -webkit-column-count: initial;
    column-count: initial;
    -webkit-column-gap: initial;
    column-gap: initial;
  }
  .fourth-section .right ul li {
    display: inline-block;
    margin-right: 4vw;
    margin-bottom: 15px;
  }
  .fifth-section::before {
    display: none;
  }
  .fifth-section .rev-slider li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .fifth-section .rev-slider li .video,
  .fifth-section .rev-slider li .peaple {
    width: 100%;
  }
  .fifth-section .rev-slider li .video {
    margin-top: 40px;
    max-width: 100%;
  }
  .fifth-section .rev-slider li .peaple {
    max-width: 654px;
    display: block;
    margin: 0 auto;
  }
  .fifth-section .rev-slider li .peaple::before {
    width: 1px;
    height: 90px;
    top: 80%;
    left: 125px;
  }
  .fifth-section .rev-slider li .peaple .borders {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    right: 0;
    left: 0;
    width: 100%;
    border: 0;
    height: auto;
  }
  .fifth-section .rev-slider li .peaple .borders .top {
    border: 2px solid #c4a56e;
    width: 199px;
    height: 103px;
    margin-left: 43px;
    margin-top: -14px;
  }
  .fifth-section .rev-slider li .peaple .borders .bottom {
    border: 0;
  }
  .fifth-section .rev-slider li .peaple .borders .bottom .text-wrap {
    border-top: 0;
    text-align: left;
    padding-left: 20px;
  }
  .fifth-section .rev-slider li .peaple img {
    max-width: 165px;
  }
  .sixth-section ul {
    text-align: center;
    padding: 0 16% 0 16%;
  }
  .sixth-section ul li {
    display: inline-block;
    width: 100%;
    max-width: 49%;
    margin: 0 auto 50px;
    text-align: left;
  }
  .sixth-section ul li:last-child {
    margin: 0 auto 0;
  }
  .seventh-section {
    padding-top: 0;
  }
  .seventh-section .text-bg {
    top: -60px;
  }
  .seventh-section .bx-wrapper {
    margin-bottom: 0;
  }
  .seventh-section li {
    text-align: center;
  }
  .seventh-section .video {
    max-width: 100%;
  }
  .seventh-section .img {
    margin-left: 0;
    width: 100%;
    max-width: 555px;
  }
  .seventh-section .img a {
    margin-bottom: 0;
    margin-top: 5.7%;
    max-width: 288px;
  }
  .eighth-section .bx-wrapper {
    margin-bottom: 0;
  }
  .eighth-section .bx-wrapper .bx-pager {
    bottom: -50px;
  }
  .eighth-section li {
    text-align: left;
  }
  .eighth-section .img {
    width: 100%;
    margin-bottom: 40px;
    padding-left: 0;
  }
  .eighth-section .img::after {
    width: 1px;
    height: 98px;
    top: 80%;
    right: 0;
    left: 24px;
  }
  .eighth-section .img img {
    width: 163px;
    height: 100px;
  }
  .eighth-section .img .ramka {
    width: 163px;
    height: 100px;
    left: 8px;
    top: 7px;
  }
  .eighth-section .text-block {
    max-width: 100%;
  }
  .eighth-section .text-block .subheading {
    position: absolute;
    top: 30px;
    left: 190px;
    max-width: 145px;
  }
  footer .container {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
}

@media only screen and (max-width: 898px) {
  footer .container {
    padding-top: 0 !important;
  }
  footer .left,
  footer .right {
    width: 100%;
    padding: 0;
    text-align: center;
    margin: 0 0 35px;
  }
  footer .left {
    margin-top: 35px;
  }
}

@media only screen and (max-width: 840px) {
  h1,
  p.h1 {
    font-size: 24vw !important;
    line-height: 20vw !important;
  }
  header {
    height: 50px;
  }
  header .header-wrap {
    height: 50px;
  }
  .header-left {
    width: 80%;
  }
  .header-left a {
    width: 120px;
  }
  .header-center {
    position: relative;
    width: 50px;
    height: 100%;
  }
  .header-center::before {
    content: "p";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 21px;
    height: 21px;
    margin: -10.5px 0 0 -10.5px;
    font: 21px/21px 'DR2-font';
    color: #AA324B;
  }
  .header-center address {
    display: none;
  }
  .header-right {
    position: relative;
    width: 50px;
    height: 100%;
  }
  .header-right::before {
    content: "f";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 21px;
    height: 21px;
    margin: -10.5px 0 0 -10.5px;
    font: 21px/21px 'DR2-font';
    color: #AA324B;
  }
  .header-right a.link-phone,
  .header-right a {
    display: none;
  }
  .first-section {
    padding-top: 50px;
  }
  .first-section h1,
  .first-section p.h1 {
    font-size: 24vw;
    line-height: 20vw;
  }
  .first-section .subtitle,
  .first-section h2.subtitle {
    font-size: 5vw !important;
    letter-spacing: 2px;
    line-height: 6vw !important;
    margin-bottom: 20px;
  }
  .first-section div.img {
    width: 60vw;
    top: 17vw;
    z-index: 1;
  }
  .first-section div.img img {
    max-width: 100%;
    vertical-align: middle;
  }
  .first-section-wrap {
    padding-bottom: 45vw;
  }
  .third-section {
    overflow-x: hidden;
  }
  .third-section .container-wrap {
    margin-left: 60%;
    max-width: 40%;
  }
  .third-section .container-wrap .container {
    margin-left: -77%;
  }
  .third-section .item {
    max-width: 273px;
    margin-right: 0px;
    display: block;
    margin: 0 auto;
    min-width: 273px;
    margin-bottom: 40px;
  }
  .seventh-section .container-wrap {
    height: 485px;
    margin: 0 auto 300px auto !important;
    border: 2px solid #f0eadf;
  }
  .ninth-section h2,
  .ninth-section .h2 {
    font-size: 7vw;
    line-height: 7vw;
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
  .ninth-section .left {
    display: none;
  }
  .ninth-section .right {
    display: block;
    margin: 0 auto;
    min-width: 320px;
  }
  .ninth-section .right .wrap-title .text {
    position: initial;
    width: 100%;
    text-align: center;
  }
  .ninth-section .right .form form {
    padding: 50px 15px;
  }
  .form form input.btn.btn-red {
    font-size: 11px;
  }
}

@media only screen and (max-width: 800px) {
  .second-section ul {
    text-align: center;
    padding: 0 8% 0 15%;
  }
  .sixth-section ul li {
    max-width: 45%;
    margin: 0 2% 50px;
  }
}

@media only screen and (max-width: 736px) {
  .third-section .container-wrap {
    margin-left: 60%;
    max-width: 45%;
  }
  .sixth-section ul li .img {
    text-align: center;
  }
}

@media only screen and (max-width: 720px) {
  .container {
    padding: 0px 20px !important;
  }
  .first-section-wrap h1,
  .first-section-wrap .h1 {
    width: 70%;
    text-indent: 8px;
  }
  .second-section ul {
    text-align: center;
    padding: 0 5% 0 12%;
  }
  .sixth-section ul {
    padding: 0 8% 0 15%;
  }
}

@media only screen and (max-width: 710px) {
  .first-section .btn.btn-red {
    font-size: 11px;
    padding: 30px 43px;
    width: 290px;
  }
  .third-section .container-wrap .container {
    margin-left: -77%;
  }
}

@media only screen and (max-width: 667px) {
  .third-section .container-wrap {
    margin-left: 58%;
    max-width: 47%;
  }
  .fifth-section .rev-slider li .peaple .borders .top {
    width: 210px;
  }
}

@media only screen and (max-width: 640px) {
  .third-section .container-wrap .container {
    margin-left: -100%;
  }
  .fifth-section .rev-slider li .peaple .borders .top {
    width: 225px;
  }
}

@media only screen and (max-width: 610px) {
  .second-section {
    padding: 35px 0;
  }
  .third-section {
    padding: 40px 0 40px;
  }
  .third-section .container-wrap {
    margin-left: 61%;
  }
  .third-section .container-wrap .container {
    margin-left: -102%;
  }
  .fourth-section {
    padding: 40px 0;
  }
  .fourth-section h2,
  .fourth-section .h2 {
    margin-bottom: 40px;
  }
  .fifth-section {
    padding: 40px 0 70px;
  }
  .fifth-section h2,
  .fifth-section .h2 {
    margin-bottom: 40px;
  }
  .sixth-section {
    padding: 40px 0 50px;
  }
  .sixth-section h2,
  .sixth-section .h2 {
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 540px) {
  .first-section-wrap {
    padding-bottom: 0;
    height: 132vw;
    min-height: 100%;
  }
  .first-section .btn.btn-red {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: inline-block;
    font-size: 11px;
    padding: 30px 43px;
    width: 290px;
    margin-left: -145px;
    z-index: 2;
  }
  .first-section .container {
    height: 100%;
  }
  .first-section .container .text {
    height: 100%;
    text-align: center;
  }
  .first-section .container .text p {
    text-align: left;
  }
  .first-section .container .text .subtitle {
    width: 100%;
  }
  .second-section ul {
    padding: 0px 5% 0 5%;
  }
  .second-section ul li .text {
    margin-right: 10px;
  }
  .third-section .container-wrap {
    margin-left: 50%;
    max-width: 50%;
  }
  .third-section .container-wrap .container {
    margin-left: -70%;
  }
  .fifth-section .rev-slider li .peaple .borders .top {
    width: 285px;
  }
  .sixth-section ul {
    padding: 0 2% 0 2%;
  }
  .seventh-section {
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 510px) {
  .first-section-wrap {
    height: 137vw;
  }
  .third-section .container-wrap .container {
    margin-left: -73%;
  }
}

@media only screen and (max-width: 480px) {
  .modal-form {
    max-width: 75%;
  }
  .modal-form .form form {
    min-width: initial;
    padding: 2px;
    max-width: 100%;
  }
  h2,
  .h2 {
    font: 11.5vw/12vw "Pt-serif-italic" !important;
  }
  h2.subtitle {
    font: 30px/35px 'OpenSansRegular' !important;
  }
  .second-section ul {
    padding: 0px 2% 0 2%;
  }
  .third-section .container-wrap .container {
    margin-left: -81%;
  }
  .fifth-section .rev-slider li .peaple {
    padding-left: 0px;
  }
  .fifth-section .rev-slider li .peaple .borders .top {
    width: 270px;
    margin-left: 7px;
  }
  .seventh-section .container-wrap {
    margin: 0 auto 185px auto !important;
  }
}

@media only screen and (max-width: 414px) {
  header .header-left {
    width: 60%;
  }
  .first-section-wrap {
    height: 145vw;
  }
  .second-section ul {
    text-align: center;
    padding: 0;
  }
  .second-section ul li {
    display: block;
    width: 100%;
    max-width: 320px;
    margin: 0 auto 50px;
    text-align: left;
  }
  .second-section ul li .text {
    margin-right: 0px;
  }
  .third-section .container-wrap .container {
    margin-left: -95%;
  }
  ul li {
    display: block;
    width: 170px;
    margin: 0 auto 50px;
    text-align: center;
  }
  ul li:last-child {
    margin: 0 auto 50px;
  }
  .fifth-section .rev-slider li .peaple::before {
    left: 70px;
  }
  .fifth-section .rev-slider li .peaple img {
    max-width: 130px;
  }
  .fifth-section .rev-slider li .peaple .borders {
    top: 0;
  }
  .fifth-section .rev-slider li .peaple .borders .top {
    width: 260px;
    min-width: 130px;
    margin-left: 10px;
    margin-top: 7px;
    height: 83px;
  }
  .fifth-section .rev-slider li .peaple .borders .subheading {
    font: 16px/21px "OpenSansBold";
  }
  .fifth-section .rev-slider li .peaple .borders .text {
    font-size: 14px;
  }
  .fourth-section ul li {
    width: auto;
  }
  .sixth-section ul li {
    width: 100%;
    max-width: 196px;
    text-align: center;
  }
  .seventh-section .container-wrap {
    height: 350px;
    margin: 0 auto 140px auto !important;
  }
  .seventh-section .img {
    width: 100%;
  }
  .seventh-section .img a {
    width: 100%;
    max-width: 100%;
    display: none;
  }
  .seventh-section .img a img {
    width: 100%;
    max-width: 100%;
  }
  .seventh-section .img a:first-child {
    display: block;
  }
}

@media only screen and (max-width: 401px) {
  .third-section .container-wrap .container {
    margin-left: -100%;
  }
  .fifth-section .rev-slider li .peaple .borders .top {
    width: 210px;
  }
  .seventh-section .bx-wrapper .bx-pager {
    bottom: -55px;
  }
  .eighth-section .text-bg {
    top: 55px;
  }
}

@media only screen and (max-width: 375px) {
  .third-section .container-wrap .container {
    margin-left: -107%;
  }
  .fifth-section .rev-slider li .peaple::before {
    left: 70px;
  }
  .fifth-section .rev-slider li .peaple img {
    max-width: 130px;
  }
  .fifth-section .rev-slider li .peaple .borders {
    top: 0;
  }
  .fifth-section .rev-slider li .peaple .borders .top {
    width: 260px;
    min-width: 130px;
    margin-left: 10px;
    margin-top: 7px;
    height: 83px;
  }
  .fifth-section .rev-slider li .peaple .borders .subheading {
    font: 16px/21px "OpenSansBold";
  }
  .fifth-section .rev-slider li .peaple .borders .text {
    font-size: 14px;
  }
}

@media only screen and (max-width: 360px) {
  h2,
  .h2 {
    font: 30px/35px "Pt-serif-italic" !important;
  }
  h2.subtitle {
    font-size: 14px;
    line-height: 19px;
  }
  .first-section .container .text {
    height: 100%;
    text-align: left;
  }
  .first-section div.img {
    width: 70vw;
    top: 15vw;
  }
  .first-section .btn.btn-red {
    margin-bottom: 50px;
  }
  .first-section-wrap {
    height: 165vw;
  }
  .first-section-wrap p,
  .first-section-wrap h2.subtitle {
    max-width: 47%;
    font-size: 5vw;
  }
  .third-section .container-wrap .container {
    margin-left: -113%;
  }
  .fifth-section .rev-slider li .peaple::before {
    left: 70px;
  }
  .fifth-section .rev-slider li .peaple img {
    max-width: 130px;
  }
  .fifth-section .rev-slider li .peaple .borders {
    top: 0;
  }
  .fifth-section .rev-slider li .peaple .borders .top {
    width: 260px;
    min-width: 130px;
    margin-left: 10px;
    margin-top: 7px;
    height: 83px;
  }
  .fifth-section .rev-slider li .peaple .borders .subheading {
    font: 16px/21px "OpenSansBold";
  }
  .fifth-section .rev-slider li .peaple .borders .text {
    font-size: 14px;
  }
  .eighth-section .img img {
    width: 140px;
    height: 86px;
  }
  .eighth-section .img .ramka {
    width: 142px;
    height: 88px;
  }
  .eighth-section .text-block .subheading {
    top: 0px;
    left: 160px;
  }
  .ninth-section {
    font-size: 30px;
    line-height: 35px;
  }
  .ninth-section .right {
    min-width: 275px;
  }
  .ninth-section .right .form {
    padding: 0px;
  }
  footer .left,
  footer .right {
    margin: 0 0 35px 0;
  }
  footer .left {
    margin-top: 35px;
  }
}

@media only screen and (max-width: 326px) {
  .third-section .container-wrap .container {
    margin-left: -127%;
  }
  .seventh-section .container-wrap {
    margin: 0 auto 75px auto !important;
  }
}

@media only screen and (max-width: 320px) {
  h1,
  .h1 {
    font: 72px/65px 'Klementina' !important;
  }
  .third-section .container-wrap .container {
    margin-left: -130%;
  }
}
