/** Base Style Used **/

body {
    position: relative;
    font: $section-text-font;
    color: $gray-color;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

s {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        display: block;
        width: 100%;
        height: 1px;
        background: $gray-color;
    }
}

h2,
.h2 {
    display: inline-block;
    text-align: center;
}

.title {
    text-align: center;
    position: relative;
    z-index: 2;
}

.subheading {
    font: $subheading-font;
}

.container-wrap {
    width: 100%;
    max-width: 1195px;
    margin: 0 auto;
    padding: 22px 13px;
    border: 2px solid $cont-wrap-bc;
    max-height: 283px;
}

.modal-form {
    display: none;
    padding: 0;
    overflow: initial;
    &#modal-form-error {
        .h3,
        h3 {
            color: #aa324b;
        }
    }
    .form-wrap {
        display: table;
        width: 100%;
        height: 100%;
    }
    .text-block {
        display: table-cell;
        width: 100%;
        height: 100%;
        vertical-align: middle;
        * {
            display: inline-block;
            width: 100%;
            vertical-align: middle;
        }
        p.text {
            margin-bottom: 0;
        }
    }
}

.loading {
    background: url('../image/loading.gif') no-repeat center center;
    background-size: 100px 100px;
    box-shadow: inset 0 0 8px 1px rgba(0, 0, 0, 0.2);
}

.video-wrap {
    height: 100%;
    width: 100%;
}
