/** Used Fonts **/


/** Bradobrei **/

@font-face {
    font-family: 'Bradobrei';
    src: url('../fonts/bradobrei/bradobrei.eot');
    src: local('☺'), url('../fonts/bradobrei/bradobrei.woff') format('woff'), url('../fonts/bradobrei/bradobrei.ttf') format('truetype'), url('../fonts/bradobrei/bradobrei.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


/** Klementina **/

@font-face {
    font-family: 'Klementina';
    src: url('../fonts/klementina/Klementina.eot');
    src: local('☺'), url('../fonts/klementina/Klementina.woff') format('woff'), url('../fonts/klementina/Klementina.ttf') format('truetype'), url('../fonts/klementina/Klementina.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


/** Pt-serif **/

@font-face {
    font-family: 'Pt-serif';
    src: url('../fonts/pt-serif/pt-serif.eot');
    src: local('☺'), url('../fonts/pt-serif/pt-serif.woff') format('woff'), url('../fonts/pt-serif/pt-serif.ttf') format('truetype'), url('../fonts/pt-serif/pt-serif.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


/** Pt-serif-bold-italic **/

@font-face {
    font-family: 'Pt-serif-bold-italic';
    src: url('../fonts/pt-serif-bold-italic/pt-serif-bold-italic.eot');
    src: local('☺'), url('../fonts/pt-serif-bold-italic/pt-serif-bold-italic.woff') format('woff'), url('../fonts/pt-serif-bold-italic/pt-serif-bold-italic.ttf') format('truetype'), url('../fonts/pt-serif-bold-italic/pt-serif-bold-italic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


/** Pt-serif-italic **/

@font-face {
    font-family: 'Pt-serif-italic';
    src: url('../fonts/pt-serif-italic/pt-serif-italic.eot');
    src: local('☺'), url('../fonts/pt-serif-italic/pt-serif-italic.woff') format('woff'), url('../fonts/pt-serif-italic/pt-serif-italic.ttf') format('truetype'), url('../fonts/pt-serif-italic/pt-serif-italic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


/** OpenSansRegular **/

@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/** OpenSansLight **/

@font-face {
    font-family: "OpenSansLight";
    src: url("../fonts/OpenSansLight/OpenSansLight.eot");
    src: url("../fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansLight/OpenSansLight.woff") format("woff"), url("../fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/** OpenSansItalic **/

@font-face {
    font-family: "OpenSansItalic";
    src: url("../fonts/OpenSansItalic/OpenSansItalic.eot");
    src: url("../fonts/OpenSansItalic/OpenSansItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansItalic/OpenSansItalic.woff") format("woff"), url("../fonts/OpenSansItalic/OpenSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/** OpenSansBold **/

@font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/OpenSansBold/OpenSansBold.eot");
    src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"), url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/** OpenSansExtraBold **/

@font-face {
    font-family: "OpenSansExtraBold";
    src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot");
    src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansExtraBold/OpenSansExtraBold.woff") format("woff"), url("../fonts/OpenSansExtraBold/OpenSansExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/** OpenSansExtraBoldItalic **/

@font-face {
    font-family: "OpenSansExtraBoldItalic";
    src: url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot");
    src: url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.woff") format("woff"), url("../fonts/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/** OpenSansBoldItalic **/

@font-face {
    font-family: "OpenSansBoldItalic";
    src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot");
    src: url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.woff") format("woff"), url("../fonts/OpenSansBoldItalic/OpenSansBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/** OpenSansRegularItalic **/

@font-face {
    font-family: "OpenSansRegularItalic";
    src: url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot");
    src: url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.woff") format("woff"), url("../fonts/OpenSansRegularItalic/OpenSansRegularItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/** OpenSansSemiBold **/

@font-face {
    font-family: "OpenSansSemiBold";
    src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
    src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"), url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/** OpenSansSemiBoldItalic **/

@font-face {
    font-family: "OpenSansSemiBoldItalic";
    src: url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot");
    src: url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.woff") format("woff"), url("../fonts/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/** DR2 font **/

@font-face {
    font-family: 'DR2-font';
    src: url('../fonts/DR2-font/DR2-font.eot');
    src: local('☺'), url('../fonts/DR2-font/DR2-font.woff') format('woff'), url('../fonts/DR2-font/DR2-font.ttf') format('truetype'), url('../fonts/DR2-font/DR2-font.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
