/** Mixins **/

@mixin gradient ($bottom, $top) {
    background: $top;
    /* Old browsers */
    background: -webkit-linear-gradient($top 0%, $bottom 100%);
    background: -o-linear-gradient($top 0%, $bottom 100%);
    background: linear-gradient($top 0%, $bottom 100%);
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$top, endColorstr=$bottom, GradientType=0);
    /* IE6-9 */
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin add-transition($el, $zad, $func, $dur) {
    @if $el=='' {
        $el: all;
    }
    @if $zad=='' {
        $zad: 0.3s;
    }
    @if $func=='' {
        $func: linear;
    }
    @if $dur=='' {
        $dur: 0.1s;
    }
    -moz-transition: $el $zad $func $dur;
    -webkit-transition: $el $zad $func $dur;
    transition: $el $zad $func $dur;
}

@mixin add-transform($val) {
    -webkit-transform: scale($val);
    -moz-transform: scale($val);
    -o-transform: scale($val);
    transform: scale($val);
}
