/** Normolize Style Used **/

* {
    box-sizing: border-box;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
blockquote,
big,
body,
center,
canvas,
caption,
cite,
code,
command,
datalist,
dd,
del,
details,
dfn,
dl,
div,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
keygen,
label,
legend,
li,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
s,
samp,
section,
small,
span,
source,
strike,
strong,
sub,
sup,
table,
tbody,
tfoot,
thead,
th,
tr,
tdvideo,
tt,
u,
ul,
var {
    background: transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: top;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

table,
table td {
    padding: 0;
    border: none;
    border-collapse: collapse;
}

img {
    vertical-align: top;
}

embed {
    vertical-align: top;
}

input[type=text],
input[type=email],
textarea {
    outline: none;
    border-radius: 0;
}

textarea {
    margin: 0;
}

button {
    border: 0;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
}

s {
    text-decoration: none;
}

.clearfix {
    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 0;
        clear: both;
    }
    &>.left {
        float: left;
    }
    &>.right {
        float: right;
    }
}

.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    background: transparent;
}

.bx-wrapper .bx-pager-item {
    width: 10px;
    height: 10px;
    margin-right: 30px;
    text-align: center;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 2px 0 0;
    background: #ffffff;
    @include add-transition('', '', '', '');
    &.active,
    &:hover {
        margin-top: 0;
        width: 10px;
        height: 10px;
        background: $slider-ctrl-bg;
        @include add-transition('', '', '', '');
    }
}

.bx-wrapper .bx-pager {
    bottom: -84px;
}

.bx-wrapper .bx-controls-direction a {
    top: 119%;
    width: 24px;
    height: 18px;
}

.bx-wrapper .bx-prev {
    left: 0;
    background: url(../image/sl-ctrl.png) no-repeat;
    background-position: 0 0;
    &:hover {
        background-position: 0 -25px;
    }
}

.bx-wrapper .bx-next {
    right: 0;
    left: 55px;
    background: url(../image/sl-ctrl.png) no-repeat;
    background-position: -43px 0;
    &:hover {
        background-position: -43px -25px;
    }
}

.fancybox-is-open .fancybox-bg {
    opacity: .4;
}
