/** Variables Style Used **/


/** Fonts **/

$heading-font: 60px/65px 'Pt-serif-italic';
$heading-modal-font: 30px/35px 'Pt-serif-italic';
$section-text-font: 14px/19px 'OpenSansRegular';
$subheading-font: 18px/23px 'OpenSansBold';
$btn-red-font: 16px/16px 'OpenSansBold';
$side-text-font: 10px/15px 'OpenSansRegular';
$text-bg-font: 205px/205px 'OpenSansExtraBoldItalic';
$number-list-font: 36px/36px 'Pt-serif-bold-italic';

/** Color **/

$heading-color: #c4a56e;
$red-fs-text-color: #993048;
$red-number-color: #aa324b;
$gray-color: #808080;
$btn-red-color: #ffffff;
$text-bg-gray-color: #fbfbfb;
$text-bg-white-color: #ffffff;
$text-bg-bej-color:#e7dfd0;

/** Background **/

$btn-red-bg: rgba(170, 50, 75, 1);
$btn-red-bg-shudow: rgba(170, 50, 75, 0.23);
$btn-red-bg-shudow-hover: rgba(170, 50, 75, 0.5);
$btn-red-hover-bg: #c73553;
$first-section-bot-bg: #f0f0f0;
$first-section-top-bg: #fafafa;
$line-bg: #dbcbad;
$third-section-bg: #fbfbfb;
$gold-line-bg: rgba(196, 165, 110, 0.5);
$fifth-section-bg: #e4dac8;
$slider-ctrl-bg: #c4a56e;
$circle-gray-bg: #cccccc;

/** Border Color **/

$call-bc: #dbcaac;
$cont-wrap-bc: #f0eadf;
$rev-bc: #c4a56e;
