/** Footer Style **/

footer {
    font: $section-text-font;
    color: $heading-color;
    text-align: center;
    .container {
        border-top: 2px solid #fafafa;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    a {
        color: $heading-color;
    }
    .left,
    .right,
    .dev {
        display: inline-block;
        width: 33%;
    }
    .left {
        text-align: right;
        padding-right: 75px;
    }
    .right {
        text-align: left;
        padding-left: 75px;
        span {
            margin-right: 13px;
        }
    }
}
