/** Use Responsive Style **/

@media only screen and (max-width: 1440px) {
    .side-text {
        display: none;
    }
    .seventh-section::before {
        width: 150px;
        height: 348px;
        background-size: cover;
        top: -15%;
    }
    .second-section {
        background-position: -350px -140px;
    }
}

@media only screen and (max-width: 1366px) {
    .third-section .circle {
        width: 150px;
        height: 404px;
    }
    .side-text.left {
        left: -270px;
    }
    .side-text.right {
        right: -290px;
    }
}

@media only screen and (max-width: 1280px) {
    .first-section {
        .side-text.left {
            left: -285px;
        }
    }
    .side-text.right {
        right: -305px;
    }
}

@media only screen and (max-width: 1279px) {
    .side-text {
        display: none;
    }
}

@media only screen and (max-width: 1230px) {
    .first-section-wrap h1,
    .first-section-wrap .h1 {
        margin-left: 0;
    }
}

@media only screen and (max-width: 1200px) {
    .text-bg p {
        font-size: 19vw;
        line-height: 19vw;
    }
    .container-wrap {
        max-width: 95%;
        max-height: 215px;
    }
    .second-section {
        background: none;
        ul {
            li {
                width: 17%;
            }
        }
    }
    .third-section {
        .item {
            max-width: 30%;
        }
        .circle {
            display: none;
        }
    }
    .fourth-section {
        text-align: center;
        .left {
            max-width: 580px;
        }
    }
    .fifth-section {
        .rev-slider {
            li {
                text-align: center;
                .video {
                    width: 50%;
                }
                .peaple {
                    img {
                        max-width: 320px;
                    }
                    .borders {
                        height: 287px;
                        width: 320px;
                        .top {
                            height: 185px;
                        }
                    }
                }
            }
        }
    }
    .sixth-section {
        ul {
            li {
                max-width: 170px;
            }
        }
    }
    .seventh-section {
        &::before {
            display: none;
        }
        .slider-process {
            ul {
                text-align: center;
            }
        }
        .video,
        .img {
            max-width: 48%;
            text-align: center;
            a {
                width: 47%;
                margin-bottom: 5.7%;
                &:nth-child(2n) {
                    margin-left: 5%;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .eighth-section {
        li {
            text-align: center;
        }
        .text-block {
            max-width: 60%;
        }
    }
    .ninth-section {
        .left,
        .right {
            width: 49%;
        }
        .left {
            img {
                width: 100%;
            }
        }
        .right {
            margin-left: 1%;
        }
    }
}

@media only screen and (max-width: 1024px) {
    h2,
    .h2 {
        padding: 0 20px;
    }
    h2.subtitle {
        padding: 0;
    }
    .bx-controls-direction {
        display: none;
    }
    .container-wrap {
        max-height: 100%;
        margin-left: 5%;
        border-right: 0;
        margin-bottom: 0 !important;
    }
    .container {
        padding: 0px 20px !important;
    }
    .first-section-wrap {
        h1,
        .h1 {
            width: 70%;
            padding-top: 0px;
            line-height: 127px;
            margin-bottom: 15px;
            text-indent: 8px;
        }
        p {
            max-width: 60%;
        }
    }
    .second-section {
        ul {
            text-align: center;
            padding: 0 16% 0 23%;
            li {
                display: inline-block;
                width: 100%;
                max-width: 49%;
                margin: 0 auto 50px;
                text-align: left;
                &:last-child {
                    margin: 0 auto 0;
                }
                .number {
                    display: inline-block;
                    &::after {
                        display: none;
                    }
                    span {
                        padding-right: 20px;
                    }
                }
                .subheading {
                    display: inline-block;
                }
                .text {
                    text-align: left;
                    padding-right: 0;
                    margin-left: 65px;
                    margin-right: 50px
                }
            }
        }
    }
    .third-section {
        padding: 100px 0 120px;
    }
    .fourth-section {
        .right {
            padding-left: 0;
            max-width: 580px;
            &::before {
                display: none;
            }
            ul {
                -webkit-column-count: initial;
                -moz-column-count: initial;
                column-count: initial;
                -webkit-column-gap: initial;
                -moz-column-gap: initial;
                column-gap: initial;
                li {
                    display: inline-block;
                    margin-right: 4vw;
                    margin-bottom: 15px;
                }
            }
        }
    }
    .fifth-section {
        &::before {
            display: none;
        }
        .rev-slider {
            li {
                display: -webkit-flex;
                display: flex;
                flex-direction: column-reverse;
                -webkit-flex-direction: column-reverse;
                .video,
                .peaple {
                    width: 100%;
                }
                .video {
                    margin-top: 40px;
                    max-width: 100%;
                }
                .peaple {
                    max-width: 654px;
                    display: block;
                    margin: 0 auto;
                    &::before {
                        width: 1px;
                        height: 90px;
                        top: 80%;
                        left: 125px;
                    }
                    .borders {
                        display: -webkit-flex;
                        display: flex;
                        -webkit-flex-direction: row;
                        flex-direction: row;
                        right: 0;
                        left: 0;
                        width: 100%;
                        border: 0;
                        height: auto;
                        .top {
                            border: 2px solid #c4a56e;
                            width: 199px;
                            height: 103px;
                            margin-left: 43px;
                            margin-top: -14px;
                        }
                        .bottom {
                            border: 0;
                            .text-wrap {
                                border-top: 0;
                                text-align: left;
                                padding-left: 20px;
                            }
                        }
                    }
                    img {
                        max-width: 165px;
                    }
                }
            }
        }
    }
    .sixth-section {
        ul {
            text-align: center;
            padding: 0 16% 0 16%;
            li {
                display: inline-block;
                width: 100%;
                max-width: 49%;
                margin: 0 auto 50px;
                text-align: left;
                &:last-child {
                    margin: 0 auto 0;
                }
            }
        }
    }
    .seventh-section {
        padding-top: 0;
        .text-bg {
            top: -60px;
        }
        .bx-wrapper {
            margin-bottom: 0;
        }
        li {
            text-align: center;
        }
        .video {
            max-width: 100%;
        }
        .img {
            margin-left: 0;
            width: 100%;
            max-width: 555px;
            a {
                margin-bottom: 0;
                margin-top: 5.7%;
                max-width: 288px;
            }
        }
    }
    .eighth-section {
        .bx-wrapper {
            margin-bottom: 0;
        }
        .bx-wrapper .bx-pager {
            bottom: -50px;
        }
        li {
            text-align: left;
        }
        .img {
            width: 100%;
            margin-bottom: 40px;
            padding-left: 0;
            &::after {
                width: 1px;
                height: 98px;
                top: 80%;
                right: 0;
                left: 24px;
            }
            img {
                width: 163px;
                height: 100px;
            }
            .ramka {
                width: 163px;
                height: 100px;
                left: 8px;
                top: 7px;
            }
        }
        .text-block {
            max-width: 100%;
            .subheading {
                position: absolute;
                top: 30px;
                left: 190px;
                max-width: 145px;
            }
        }
    }
    footer {
        .container {
            padding-top: 40px !important;
            padding-bottom: 40px !important;
        }
    }
}

@media only screen and (max-width: 898px) {
    footer {
        .container {
            padding-top: 0 !important;
        }
        .left,
        .right {
            width: 100%;
            padding: 0;
            text-align: center;
            margin: 0 0 35px;
        }
        .left {
            margin-top: 35px;
        }
    }
}

@media only screen and (max-width: 840px) {
    h1,
    p.h1 {
        font-size: 24vw !important;
        line-height: 20vw !important;
    }
    header {
        height: 50px;
        .header-wrap {
            height: 50px;
        }
    }
    .header-left {
        width: 80%;
        a {
            width: 120px;
        }
    }
    .header-center {
        position: relative;
        width: 50px;
        height: 100%;
        &::before {
            content: "p";
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            width: 21px;
            height: 21px;
            margin: -10.5px 0 0 -10.5px;
            font: 21px/21px 'DR2-font';
            color: #AA324B;
        }
        address {
            display: none;
        }
    }
    .header-right {
        position: relative;
        width: 50px;
        height: 100%;
        &::before {
            content: "f";
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            width: 21px;
            height: 21px;
            margin: -10.5px 0 0 -10.5px;
            font: 21px/21px 'DR2-font';
            color: #AA324B;
        }
        a.link-phone,
        a {
            display: none;
        }
    }
    .first-section {
        padding-top: 50px;
        h1,
        p.h1 {
            font-size: 24vw;
            line-height: 20vw;
        }
        .subtitle,
        h2.subtitle {
            font-size: 5vw !important;
            letter-spacing: 2px;
            line-height: 6vw !important;
            margin-bottom: 20px;
        }
        div.img {
            width: 60vw;
            top: 17vw;
            z-index: 1;
            img {
                max-width: 100%;
                vertical-align: middle;
            }
        }
    }
    .first-section-wrap {
        padding-bottom: 45vw;
    }
    .third-section {
        overflow-x: hidden;
        .container-wrap {
            margin-left: 60%;
            max-width: 40%;
            .container {
                margin-left: -77%;
            }
        }
        .item {
            max-width: 273px;
            margin-right: 0px;
            display: block;
            margin: 0 auto;
            min-width: 273px;
            margin-bottom: 40px;
        }
    }
    .seventh-section {
        .container-wrap {
            height: 485px;
            margin: 0 auto 300px auto !important;
            border: 2px solid #f0eadf;
        }
    }
    .ninth-section {
        h2,
        .h2 {
            font-size: 7vw;
            line-height: 7vw;
            display: block;
            text-align: center;
            margin-bottom: 20px;
        }
        .left {
            display: none;
        }
        .right {
            display: block;
            margin: 0 auto;
            min-width: 320px;
            .wrap-title {
                .text {
                    position: initial;
                    width: 100%;
                    text-align: center;
                }
            }
            .form {
                form {
                    padding: 50px 15px;
                }
            }
        }
    }
    .form form input.btn.btn-red {
        font-size: 11px;
    }
}

@media only screen and (max-width: 800px) {
    .second-section {
        ul {
            text-align: center;
            padding: 0 8% 0 15%;
        }
    }
    .sixth-section {
        ul {
            li {
                max-width: 45%;
                margin: 0 2% 50px;
            }
        }
    }
}

@media only screen and (max-width: 736px) {
    .third-section .container-wrap {
        margin-left: 60%;
        max-width: 45%;
    }
    .sixth-section ul li .img {
        text-align: center;
    }
}

@media only screen and (max-width: 720px) {
    .container {
        padding: 0px 20px !important;
    }
    .first-section-wrap {
        h1,
        .h1 {
            width: 70%;
            text-indent: 8px;
        }
    }
    .second-section {
        ul {
            text-align: center;
            padding: 0 5% 0 12%;
        }
    }
    .sixth-section {
        ul {
            padding: 0 8% 0 15%;
        }
    }
}

@media only screen and (max-width: 710px) {
    .first-section {
        .btn.btn-red {
            font-size: 11px;
            padding: 30px 43px;
            width: 290px;
        }
    }
    .third-section {
        .container-wrap {
            .container {
                margin-left: -77%;
            }
        }
    }
}

@media only screen and (max-width: 667px) {
    .third-section .container-wrap {
        margin-left: 58%;
        max-width: 47%;
    }
    .fifth-section .rev-slider li .peaple .borders .top {
        width: 210px;
    }
}

@media only screen and (max-width: 640px) {
    .third-section {
        .container-wrap {
            .container {
                margin-left: -100%;
            }
        }
    }
    .fifth-section {
        .rev-slider {
            li {
                .peaple {
                    .borders {
                        .top {
                            width: 225px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 610px) {
    .second-section {
        padding: 35px 0;
    }
    .third-section {
        padding: 40px 0 40px;
        .container-wrap {
            margin-left: 61%;
            .container {
                margin-left: -102%;
            }
        }
    }
    .fourth-section {
        padding: 40px 0;
        h2,
        .h2 {
            margin-bottom: 40px;
        }
    }
    .fifth-section {
        padding: 40px 0 70px;
        h2,
        .h2 {
            margin-bottom: 40px;
        }
    }
    .sixth-section {
        padding: 40px 0 50px;
        h2,
        .h2 {
            margin-bottom: 40px;
        }
    }
}

@media only screen and (max-width: 540px) {
    .first-section-wrap {
        padding-bottom: 0;
        height: 132vw;
        min-height: 100%;
    }
    .first-section {
        .btn.btn-red {
            position: absolute;
            bottom: 0;
            left: 50%;
            display: inline-block;
            font-size: 11px;
            padding: 30px 43px;
            width: 290px;
            margin-left: -145px;
            z-index: 2;
        }
        .container {
            height: 100%;
            .text {
                height: 100%;
                text-align: center;
                p {
                    text-align: left;
                }
                .subtitle {
                    width: 100%;
                }
            }
        }
    }
    .second-section {
        ul {
            padding: 0px 5% 0 5%;
            li {
                .text {
                    margin-right: 10px;
                }
            }
        }
    }
    .third-section {
        .container-wrap {
            margin-left: 50%;
            max-width: 50%;
            .container {
                margin-left: -70%;
            }
        }
    }
    .fifth-section {
        .rev-slider {
            li {
                .peaple {
                    .borders {
                        .top {
                            width: 285px;
                        }
                    }
                }
            }
        }
    }
    .sixth-section {
        ul {
            padding: 0 2% 0 2%;
        }
    }
    .seventh-section {
        padding-bottom: 0;
    }
}

@media only screen and (max-width: 510px) {
    .first-section-wrap {
        height: 137vw;
    }
    .third-section {
        .container-wrap {
            .container {
                margin-left: -73%;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .modal-form {
        max-width: 75%;
        .form {
            form {
                min-width: initial;
                padding: 2px;
                max-width: 100%;
            }
        }
    }
    h2,
    .h2 {
        font: 11.5vw/12vw "Pt-serif-italic" !important;
    }
    h2.subtitle {
        font: 30px/35px 'OpenSansRegular' !important;
    }
    .second-section {
        ul {
            padding: 0px 2% 0 2%;
        }
    }
    .third-section {
        .container-wrap {
            .container {
                margin-left: -81%;
            }
        }
    }
    .fifth-section {
        .rev-slider {
            li {
                .peaple {
                    padding-left: 0px;
                    .borders {
                        .top {
                            width: 270px;
                            margin-left: 7px;
                        }
                    }
                }
            }
        }
    }
    .seventh-section {
        .container-wrap {
            margin: 0 auto 185px auto !important;
        }
    }
}

@media only screen and (max-width: 414px) {
    header {
        .header-left {
            width: 60%;
        }
    }
    .first-section-wrap {
        height: 145vw;
    }
    .second-section {
        ul {
            text-align: center;
            padding: 0;
            li {
                display: block;
                width: 100%;
                max-width: 320px;
                margin: 0 auto 50px;
                text-align: left;
                .text {
                    margin-right: 0px
                }
            }
        }
    }
    .third-section {
        .container-wrap {
            .container {
                margin-left: -95%;
            }
        }
    }
    ul {
        li {
            display: block;
            width: 170px;
            margin: 0 auto 50px;
            text-align: center;
            &:last-child {
                margin: 0 auto 50px;
            }
        }
    }
    .fifth-section {
        .rev-slider {
            li {
                .peaple {
                    &::before {
                        left: 70px;
                    }
                    img {
                        max-width: 130px;
                    }
                    .borders {
                        top: 0;
                        .top {
                            width: 260px;
                            min-width: 130px;
                            margin-left: 10px;
                            margin-top: 7px;
                            height: 83px;
                        }
                        .subheading {
                            font: 16px/21px "OpenSansBold";
                        }
                        .text {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    .fourth-section {
        ul {
            li {
                width: auto;
            }
        }
    }
    .sixth-section ul li {
        width: 100%;
        max-width: 196px;
        text-align: center;
    }
    .seventh-section {
        .container-wrap {
            height: 350px;
            margin: 0 auto 140px auto !important;
        }
        .img {
            width: 100%;
            a {
                width: 100%;
                max-width: 100%;
                display: none;
                img {
                    width: 100%;
                    max-width: 100%;
                }
                &:first-child {
                    display: block;
                }
            }
        }
    }
}

@media only screen and (max-width: 401px) {
    .third-section {
        .container-wrap {
            .container {
                margin-left: -100%;
            }
        }
    }
    .fifth-section .rev-slider li .peaple .borders .top {
        width: 210px;
    }
    .seventh-section {
        .bx-wrapper .bx-pager {
            bottom: -55px;
        }
    }
    .eighth-section {
        .text-bg {
            top: 55px;
        }
    }
}

@media only screen and (max-width: 375px) {
    .third-section {
        .container-wrap {
            .container {
                margin-left: -107%;
            }
        }
    }
    .fifth-section {
        .rev-slider {
            li {
                .peaple {
                    &::before {
                        left: 70px;
                    }
                    img {
                        max-width: 130px;
                    }
                    .borders {
                        top: 0;
                        .top {
                            width: 260px;
                            min-width: 130px;
                            margin-left: 10px;
                            margin-top: 7px;
                            height: 83px;
                        }
                        .subheading {
                            font: 16px/21px "OpenSansBold";
                        }
                        .text {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 360px) {
    h2,
    .h2 {
        font: 30px/35px "Pt-serif-italic" !important;
    }
    h2.subtitle {
        font-size: 14px;
        line-height: 19px;
    }
    .first-section {
        .container {
            .text {
                height: 100%;
                text-align: left;
            }
        }
        div.img {
            width: 70vw;
            top: 15vw;
        }
        .btn.btn-red {
            margin-bottom: 50px;
        }
    }
    .first-section-wrap {
        height: 165vw;
    }
    .first-section-wrap {
        p,
        h2.subtitle {
            max-width: 47%;
            font-size: 5vw;
        }
    }
    .third-section {
        .container-wrap {
            .container {
                margin-left: -113%;
            }
        }
    }
    .fifth-section {
        .rev-slider {
            li {
                .peaple {
                    &::before {
                        left: 70px;
                    }
                    img {
                        max-width: 130px;
                    }
                    .borders {
                        top: 0;
                        .top {
                            width: 260px;
                            min-width: 130px;
                            margin-left: 10px;
                            margin-top: 7px;
                            height: 83px;
                        }
                        .subheading {
                            font: 16px/21px "OpenSansBold";
                        }
                        .text {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    .eighth-section {
        .img {
            img {
                width: 140px;
                height: 86px;
            }
            .ramka {
                width: 142px;
                height: 88px;
            }
        }
        .text-block {
            .subheading {
                top: 0px;
                left: 160px;
            }
        }
    }
    .ninth-section {
        font-size: 30px;
        line-height: 35px;
        .right {
            min-width: 275px;
            .form {
                padding: 0px;
            }
        }
    }
    footer {
        .left,
        .right {
            margin: 0 0 35px 0;
        }
        .left {
            margin-top: 35px;
        }
    }
}

@media only screen and (max-width: 326px) {
    .third-section .container-wrap .container {
        margin-left: -127%;
    }
    .seventh-section .container-wrap {
        margin: 0 auto 75px auto !important;
    }
}

@media only screen and (max-width: 320px) {
    h1,
    .h1 {
        font: 72px/65px 'Klementina' !important;
    }
    .third-section {
        .container-wrap {
            .container {
                margin-left: -130%;
            }
        }
    }
}
