/** Any Blocks Style **/

.modal-form {
    form {
        min-width: 420px;
        .btn.btn-red {
            margin-top: 53px !important;
            margin-bottom: 27px !important;
        }
    }
    .fancybox-close-small {
        top: -40px;
        right: -40px;
        &::after {
            content: "";
            width: 33px;
            height: 31px;
            background: url('../image/close-btn.png') no-repeat transparent;
        }
    }
    .text {
        margin-bottom: 30px;
    }
}
