/** Buttons Style **/

.btn {
    display: inline-block;
    &.btn-call {
        font: $section-text-font;
        color: $gray-color;
        padding: 5px 29px;
        border: 2px solid $call-bc;
        @include border-radius(5px);
        @include add-transition('', '', '', '');
        &:hover {
            background: $call-bc;
            color: #ffffff;
            @include add-transition('', '', '', '');
        }
    }
    &.btn-red {
        text-transform: uppercase;
        color: #ffffff;
        background: $btn-red-bg;
        padding: 30px 55px;
        margin-bottom: 35px;
        font: $btn-red-font;
        letter-spacing: 1px;
        box-shadow: 0 13px 29px 0 $btn-red-bg-shudow;
        @include border-radius(10px);
        @include add-transition('', '', '', '');
        &:hover {
            background: $btn-red-hover-bg;
            box-shadow: 0 13px 29px 0 $btn-red-bg-shudow-hover;
            @include add-transition('', '', '', '');
        }
    }
}
