/** Components Style Used **/


/** Side Text Style **/

.side-text {
    position: absolute;
    font: $side-text-font;
    color: $heading-color;
    letter-spacing: 4px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    z-index: 1;
    &.left {
        left: -160px;
        bottom: 115px;
        p {
            position: relative;
            padding-left: 195px;
            padding-bottom: 20px;
            font: $side-text-font;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                display: block;
                width: 458px;
                height: 1px;
                background: $line-bg;
            }
        }
    }
    &.right {
        right: -245px;
        bottom: 340px;
        p {
            position: relative;
            padding-left: 195px;
            padding-bottom: 20px;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                display: block;
                width: 458px;
                height: 1px;
                background: $line-bg;
            }
        }
    }
}


/** Text Background Style **/

.text-bg {
    position: absolute;
    top: 30px;
    width: 100%;
    text-align: center;
    z-index: 1;
    p {
        display: inline-block;
        font: $text-bg-font;
        color: $text-bg-gray-color;
    }
}


/** Sign Play Style **/

.sign-play {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 66px;
    height: 66px;
    margin: -33px 0 0 -33px;
    background: url('../image/sign-play-video.png') no-repeat;
}


/** Icon Style **/

.icon {
    display: inline-block;
    margin-left: 17px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid $heading-color;
    background: $heading-color;
    color: #ffffff;
    text-align: center;
    margin-top: -5px;
    @include add-transition('',
    '',
    '',
    '');
    i {
        vertical-align: middle;
        font-size: 16px;
        line-height: 23px;
    }
    &:hover {
        background: #FFFFFF;
        color: $heading-color;
        @include add-transition('',
        '',
        '',
        '');
    }
}


/** Form Style **/

.form {
    padding: 18px;
    box-shadow: 15px 15px 38px 0 rgba(0, 0, 0, 0.1);
    form {
        display: block;
        width: 100%;
        border: 1px solid $heading-color;
        padding: 48px;
        input {
            border: 0;
            outline: none;
            text-indent: 3px;
            &:focus {
                outline: none;
            }
            &[type=text],
            &[type=email] {
                font: 14px/19px 'OpenSansItalic';
                color: $heading-color;
                width: 100%;
                padding: 10px;
            }
            &.btn.btn-red {
                padding-left: 15px;
                padding-right: 15px;
                width: 100%;
                text-align: center;
                margin: 43px 0 0 0;
                cursor: pointer;
            }
        }
    }
    .field-wrap {
        width: 100%;
        border-bottom: 1px solid $heading-color;
        margin-bottom: 30px;
        &:nth-last-child(2) {
            margin-bottom: 0;
        }
    }
}

// Show Phone and Address
.owerlay-bg {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.header-center.active {
    z-index: 3;
    address {
        position: absolute;
        top: 50px;
        right: -20px;
        display: block;
        width: 200px;
        padding: 20px;
        background: #f9f9f9;
        text-align: center;
        &::after {
            display: none;
        }
    }
}

.header-right.active {
    z-index: 3;
    .link-phone {
        position: absolute;
        top: 50px;
        right: -20px;
        display: block;
        width: 200px;
        padding: 20px;
        background: #f9f9f9;
        text-align: center;
        margin: 0;
        .time {
            text-align: center;
        }
    }
}
