/** Sections Style **/


/** First Section **/

.first-section {
    @include gradient($first-section-bot-bg, $first-section-top-bg);
    padding-top: 90px;
    position: relative;
}

.first-section-wrap {
    background: url('../image/first-section-bg.png') no-repeat;
    margin-top: 20px;
    padding-bottom: 305px;
    background-position: 81.7% 26%;
    .container {
        position: relative;
    }
    p {
        font: 18px/23px 'OpenSansRegular';
        margin-bottom: 45px;
        strong {
            font-family: 'OpenSansBold';
            color: $red-fs-text-color;
        }
    }
    h1,
    .h1 {
        margin-left: -15px;
        padding-top: 90px;
    }
    .subtitle,
    h2.subtitle {
        font: 30px/35px 'OpenSansRegular';
        letter-spacing: 7px;
        margin-bottom: 45px;
        text-align: left;
        color: #808080;
    }
    div.img {
        position: absolute;
        top: 0;
        right: 0;
    }
}


/** Second Section Style **/

.second-section {
    position: relative;
    padding: 100px 0;
    background: url('../image/circul-bg.png') no-repeat;
    background-position: -200px -140px;
    h2 {
        max-width: 750px;
        margin-bottom: 70px;
    }
    ul {
        margin-bottom: 35px;
        li {
            display: inline-block;
            max-width: 195px;
            margin-right: 25px;
            &:last-child {
                margin-right: 0;
            }
            .number {
                font: $number-list-font;
                color: $red-number-color;
                position: relative;
                margin-bottom: 10px;
                &::after {
                    content: "";
                    position: absolute;
                    top: 15px;
                    right: 0;
                    z-index: -1;
                    display: block;
                    width: 100%;
                    height: 1px;
                    background: $line-bg;
                }
                span {
                    background: #ffffff;
                    padding-right: 30px;
                }
            }
            .subheading {
                margin-bottom: 15px;
            }
            .text {
                padding-right: 5px;
            }
        }
    }
}


/** Third Section Style **/

.third-section {
    position: relative;
    padding: 100px 0 260px;
    background: $third-section-bg;
    .side-text.right {
        right: -175px;
        bottom: 70px;
    }
    .text-bg p {
        color: $text-bg-white-color;
    }
    .circle {
        position: absolute;
        right: 0;
        top: -360px;
        z-index: 2;
        width: 251px;
        height: 676px;
        background: url('../image/circul-big-bg.png') no-repeat;
        background-position: top left;
    }
    h2,
    .h2 {
        max-width: 750px;
        margin-bottom: 40px;
    }
    .container {
        text-align: center;
    }
    .item {
        display: inline-block;
        max-width: 360px;
        text-align: left;
        margin-right: 23px;
        margin-bottom: 30px;
        &:last-child {
            margin-right: 0;
        }
        .img {
            overflow: hidden;
            margin-bottom: 25px;
            img {
                max-width: 100%;
                @include add-transition('',
                '',
                '',
                '');
            }
            &:hover {
                img {
                    @include add-transform(1.2);
                    @include add-transition('',
                    '',
                    '',
                    '');
                }
            }
        }
        .subheading {
            margin-bottom: 10px;
        }
    }
}


/** Fourth Section Style **/

.fourth-section {
    position: relative;
    padding: 100px 0;
    .text-bg p {
        color: $text-bg-gray-color;
    }
    h2,
    .h2 {
        max-width: 945px;
        margin-bottom: 130px;
    }
    .bx-wrapper .bx-controls-direction a {
        top: 108%;
    }
    .left,
    .right {
        display: inline-block;
    }
    .left {
        max-width: 750px;
    }
    .right {
        padding-left: 113px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 60px;
            left: -62.5px;
            display: block;
            width: 125px;
            height: 1px;
            background: $gold-line-bg;
        }
        ul {
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-count: 2;
            -webkit-column-gap: 45px;
            -moz-column-gap: 45px;
            column-gap: 45px;
            margin-bottom: 40px;
            a {
                font: 16px/35px 'OpenSansRegular';
                color: $gray-color;
                position: relative;
                &:hover,
                &.active {
                    color: $heading-color;
                }
                &:hover::after,
                &.active::after {
                    content: "";
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    display: block;
                    width: 100%;
                    height: 1px;
                    background: $heading-color;
                }
            }
        }
    }
    .btn.btn-red {
        padding: 25px 82px;
    }
}


/** Fifth Section Style **/

.fifth-section {
    position: relative;
    background-color: $fifth-section-bg;
    padding: 100px 0 110px;
    &::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        display: block;
        width: 457px;
        height: 545px;
        background-image: url('../image/circul-big-bg.png');
        background-repeat: no-repeat;
        opacity: 0.1;
    }
    .text-bg p {
        color: $text-bg-bej-color;
    }
    h2,
    .h2 {
        margin-bottom: 85px;
        max-width: 945px;
    }
    .bx-wrapper .bx-prev {
        background-position: 0 -50px;
        &:hover {
            background-position: 0 -25px;
        }
    }
    .bx-wrapper .bx-next {
        background-position: -43px -50px;
        &:hover {
            background-position: -43px -25px;
        }
    }
    .rev-slider {
        li {
            .video {
                display: inline-block;
                max-width: 653px;
            }
            a {
                position: relative;
                display: inline-block;
                img {
                    max-width: 100%;
                }
            }
            .peaple {
                display: inline-block;
                padding-left: 37px;
                text-align: center;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    left: -85px;
                    top: 85px;
                    display: block;
                    width: 228px;
                    height: 1px;
                    background: $gold-line-bg;
                }
                .borders {
                    position: absolute;
                    top: 20px;
                    right: -20px;
                    display: table;
                    height: 381px;
                    width: 428px;
                    border: 2px solid $rev-bc;
                    .top,
                    .bottom {
                        display: table-row;
                    }
                    .top {
                        width: 100%;
                        height: 253px;
                    }
                    .bottom {
                        .text-wrap {
                            display: table-cell;
                            vertical-align: middle;
                            text-align: center;
                            border-top: 2px solid #c4a56e;
                            p {
                                display: inline-block;
                                width: 100%;
                                max-width: 263px;
                                &.subheading {
                                    margin-bottom: 5px;
                                    text-align: left;
                                }
                                &.text {
                                    font-size: 16px;
                                    text-align: left;
                                }
                            }
                        }
                    }
                }
                img {
                    max-width: 426px;
                    width: 100%;
                }
            }
        }
    }
}


/** Sixth Section Style **/

.sixth-section {
    position: relative;
    padding: 100px 0 50px;
    h2,
    .h2 {
        max-width: 945px;
        margin-bottom: 85px;
    }
    ul {
        text-align: center;
        li {
            display: inline-block;
            max-width: 180px;
            text-align: left;
            margin-right: 30px;
            &:last-child {
                margin-right: 0;
            }
            .img {
                height: 39px;
                margin-bottom: 10px;
                img {
                    max-height: 100%;
                    max-width: 100%;
                }
            }
            .subheading {
                margin-bottom: 10px;
            }
        }
    }
}


/** Seventh Section Style **/

.seventh-section {
    position: relative;
    padding: 100px 0;
    &::before {
        content: "";
        position: absolute;
        top: -50%;
        right: 0;
        display: block;
        width: 255px;
        height: 652px;
        background: url('../image/circul-big-bg.png') no-repeat;
    }
    h2,
    .h2 {
        max-width: 945px;
        margin-bottom: 100px;
    }
    .bx-wrapper .bx-controls-direction a {
        top: 122%;
    }
    .container-wrap {
        margin-bottom: 165px;
    }
    .video,
    .img {
        display: inline-block;
        max-width: 555px;
    }
    .video {
        position: relative;
    }
    .img {
        margin-left: 21px;
        a {
            display: inline-block;
            max-width: 263px;
            margin-bottom: 30px;
            &:nth-child(even) {
                margin-left: 25px;
            }
            &:nth-last-child(2),
            &:last-child {
                margin-bottom: 0;
            }
        }
        img {
            display: inline-block;
            max-width: 263px;
            width: 100%;
        }
    }
    .bx-wrapper .bx-pager.bx-default-pager a {
        background: $circle-gray-bg;
        &.active,
        &:hover {
            background: $slider-ctrl-bg;
        }
    }
}


/** Eighth Section Style **/

.eighth-section {
    position: relative;
    @include gradient (#f0f0f0,
    #fafafa);
    padding: 65px 0 90px;
    .text-bg {
        top: -15px
    }
    .side-text.right {
        right: -175px;
        bottom: 90px;
    }
    h2,
    .h2 {
        max-width: 555px;
        margin-bottom: 60px;
    }
    .bx-wrapper .bx-controls-direction a {
        top: auto;
        bottom: -80px;
    }
    .subheading {
        font-size: 16px;
    }
    .img,
    .text-block {
        display: inline-block;
    }
    .img {
        width: 50%;
        max-width: 385px;
        position: relative;
        padding-right: 75px;
        padding-left: 15px;
        &::after {
            content: "";
            position: absolute;
            right: -10px;
            top: 56px;
            display: block;
            width: 188px;
            height: 1px;
            background: $gold-line-bg;
        }
        img {
            width: 100%;
        }
        .ramka {
            position: absolute;
            left: 0;
            top: 18px;
            display: block;
            width: 296px;
            height: 179px;
            border: 2px solid $rev-bc;
        }
    }
    .text-block {
        max-width: 750px;
        margin-top: -5px;
        .text {
            line-height: 26px;
            margin-bottom: 25px;
        }
    }
}


/** Ninth Section Style **/

.ninth-section {
    position: relative;
    padding: 80px 0 65px;
    h2,
    .h2 {
        text-align: left;
    }
    .text-bg {
        z-index: -1;
    }
    .container {
        padding: 0;
    }
    .left,
    .right {
        display: inline-block;
    }
    .left {
        img {
            max-width: 585px;
        }
    }
    .right {
        max-width: 500px;
        margin-left: 98px;
        .wrap-title {
            position: relative;
            max-width: 372px;
            margin-bottom: 60px;
            .text {
                position: absolute;
                bottom: 0;
                right: 20px;
                display: block;
                width: 180px;
                font: 18px/23px 'Pt-serif-italic';
                color: $heading-color;
            }
        }
    }
}
