/** Typography Style **/

h1,
.h1 {
    font: 160px/165px 'Klementina';
    color: $heading-color;
}

p.h1 {
    font: 160px/165px 'Klementina' !important;
    color: $heading-color;
}

h2,
.h2 {
    font: $heading-font;
    color: $heading-color;
}

h3,
.h3 {
    font: $heading-modal-font;
    color: $heading-color;
}
